.App {
  text-align: center;
}

.credit-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.credit-card img, svg {
  width: 56px;
  height: 20px;
  align-self: flex-end;
}

.credit-card .card-number {
  font-size: 2rem;
  margin: 20px;
  align-self: center;
}

.credit-card p {
  margin: 2px;
}

.credit-card p span {
  margin-left: 20px;
}