.App {
  text-align: center;
}

/* Id Card */

.id-card {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px auto;
  width: 800px;
  border: 1px solid #000;
}

.id-card .card-information p {
  text-align: start;
  margin: 0 10px ;
}

/* Credit Card */

.credit-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.credit-card img, svg {
  width: 56px;
  height: 20px;
  align-self: flex-end;
}

.credit-card .card-number {
  font-size: 2rem;
  margin: 20px;
  align-self: center;
}

.credit-card p {
  margin: 2px;
}

.credit-card p span {
  margin-left: 20px;
}

/* Driver Card */

.driver-card  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 800px;
  color: #fff;
  background-color: #27d;
  border-radius: 10px;
  margin: 10px auto;
  padding: 15px;
}

.driver-card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.driver-card .review {
  text-align: start;
}

.driver-card h3 {
  font-size: 1.7rem;
  margin: 0;
}

.driver-card p {
  margin: 0;
}

.driver-card .card p {
  font-size: 2rem;
}